body {

  background-color:rgb(0, 162, 255);

}

h1 {
  font-family: 'Josefin Slab', serif;
  font-size: 5em;
  text-align: center;
  color: #e6eaf0;
}

.startGame {
 margin-top: 30px;
 font-size:2em;


}

#doneButton {
text-align: center;

}

.form {

  text-align:center;
}
